.table {
    width: 1024px;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

h3 {
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Pathway Gothic One';
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 60px;
}

.picture_box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
}
