.editform {
    font-size: 18px;
    font-family: 'Pathway Gothic One';
    text-align: left;
}

.editform h3 {
    text-transform: uppercase;
    font-family: 'Pathway Gothic One';
    font-size: 33px;
}